.jumbotron {
  padding-top: 2rem;
  background-color: #7e7e7e;
}

#projects {
  background-color: #7e7e7e;
}

section {
  padding-top: 5rem;
}
h2 {
  text-align: center;
}
body {
  background: #faf8f8;
  font-family: sans-serif;
}

.login {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: rgb(97, 97, 97);
  border-radius: 3px;
}

label {
  font-size: 10pt;
  color: rgb(5, 5, 5);
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}

.tombol {
  background: #00BFFF;
  color: rgb(5, 5, 5);
  border: 0;
  padding: 5px 8px;
}
